/* Write your CSS code here */
.profile {
  height: 100px;
  width: 100px;
  margin-left: 50px;
}
.name {
  font-size: 22px;
  text-align: center;
}
.description {
  font-size: 18px;
  color: #616e7c;
  text-align: center;
}
